header {
  height: 100%;
  flex: 0 0 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: #00788b;
  border-bottom: solid 5px #a300ff; }
  header .layer {
    grid-column: 1;
    grid-row: 1;
    background: linear-gradient(#ff0000, 40%, #0030de);
    background-size: 100% 300%;
    opacity: 0.5; }
  header .homeWrapper {
    z-index: 2;
    grid-column: 1;
    grid-row: 1;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center; }
    header .homeWrapper__text {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: white;
      font-weight: bold;
      font-size: 5rem; }
    header .homeWrapper__text::after {
      position: absolute;
      content: url(https://twemoji.maxcdn.com/2/72x72/1f525.png);
      margin: 0.4rem; }
      @media (max-width: 400px) {
        header .homeWrapper__text::after {
          display: none; } }

@keyframes animeBackground {
  0% {
    background-position: 0%; }
  100% {
    background-position: 0% 100%; } }
nav,
.desktop {
  --text-color: white;
  --hover-bg-color: #f0949454;
  z-index: 3;
  height: 10%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background: #ffe1e10d; }
  nav ul,
  .desktop ul {
    margin: 1rem;
    width: 60%;
    display: grid;
    grid-gap: 1rem;
    list-style-type: none;
    justify-content: flex-end;
    grid-template-columns: repeat(4, auto); }
    nav ul li,
    .desktop ul li {
      cursor: pointer;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-family: 'Courier New', Courier, monospace;
      color: var(--text-color);
      transition: all 0.3s; }
    nav ul li:hover,
    .desktop ul li:hover {
      background-color: var(--hover-bg-color);
      border-radius: 10px;
      text-decoration: underline; }
  @media (max-width: 400px) {
    nav,
    .desktop {
      opacity: 0; } }

.hamburger {
  width: 100%;
  z-index: 3;
  position: fixed;
  margin: 1rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  cursor: pointer; }
  .hamburger:focus > .hamburger__container {
    box-shadow: 0 0 2px 2px #51a7e8; }
  .hamburger__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 35px;
    height: 30px;
    margin: 0 2rem; }
  .hamburger__bars {
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: white;
    transition: transform 220ms ease-in-out; }
    .hamburger__bars:before, .hamburger__bars:after {
      display: block;
      position: absolute;
      width: 35px;
      height: 2px;
      background-color: white;
      content: ''; }
    .hamburger__bars:before {
      top: -12px;
      transition: top 100ms 250ms ease-in, transform 220ms ease-in-out; }
    .hamburger__bars:after {
      bottom: -12px;
      transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out; }
  @media (min-width: 400px) {
    .hamburger {
      display: none; } }

.hamburger--active .hamburger__bars {
  transform: rotate(225deg);
  transition: transform 220ms 120ms ease-in-out; }
  .hamburger--active .hamburger__bars:before {
    top: 0;
    transition: top 100ms ease-out; }
  .hamburger--active .hamburger__bars:after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out; }

.hamburger > .list {
  display: none;
  opacity: 0; }

.hamburger > .list--active {
  display: block;
  opacity: 1;
  width: 45%;
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style-type: none;
  padding: 0;
  right: 2rem;
  top: 2rem;
  background-color: #b1a2a2bd;
  border-radius: 3px;
  transition: all 1s; }
  .hamburger > .list--active li {
    padding: 0.5rem 0;
    text-align: center;
    color: black;
    box-shadow: 0 0 2px; }
  .hamburger > .list--active li:last-child {
    border: none;
    padding: 0.5rem 0 0.5rem; }

.hamburger:focus,
.hamburger__container:focus {
  outline: none; }

.about {
  --opacity-val: 1;
  opacity: var(--opacity-val);
  transition: opacity 1s;
  min-height: 110%;
  flex: 0 0 100%;
  background-image: linear-gradient(to bottom, #000000f2, #484848);
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%; }
  .about__left {
    grid-column: 1;
    grid-row: 1;
    background-color: #ffffff70;
    margin: 17% 3% 20% 10%;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px; }
  .about__right {
    grid-column: 2;
    grid-row: 1;
    background-color: #ffffff70;
    margin: 15% 6% 15%;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px; }
  .about__right::before {
    content: 'About';
    position: absolute;
    color: #00d0bd;
    font-size: 5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform-origin: 0% 100%;
    transform: translateY(9rem) rotate(270deg); }
  .about__right::after {
    content: 'ME';
    position: absolute;
    color: #00d0bd;
    font-size: 5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translateY(-6rem); }
  .about__text1 {
    display: inline;
    grid-column: 2;
    grid-row: 2;
    transform-origin: 100% 0;
    transform: translate(-5rem) rotate(270deg);
    color: white;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

#projects {
  min-height: 100%;
  flex: 0 0 100%;
  border: solid 5px black;
  background-color: #e61313; }

#contact {
  min-height: 100%;
  flex: 0 0 100%;
  border: solid 5px black;
  background-color: #132de6; }

* {
  box-sizing: border-box; }

body,
html {
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-flow: row wrap; }

/*# sourceMappingURL=styles.css.map */
