.footer {
  padding: 0.7rem;
  min-height: 10%;
  flex: 0 0 100%;
  background-color: #161617;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  @media (min-width: 400px) {
    min-height: 5%;
  }
  &__text {
    text-align: center;
    grid-row: 1;
    grid-column: 1;
    font-size: 1.2rem;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
  }
  &__icons {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      width: 35px;
      height: 35px;
      margin: 0 0 0 5px;
      border-radius: 10px;
    }
  }
}
