nav,
.desktop {
  --text-color: white;
  --hover-bg-color: #f0949454;
  z-index: 3;
  height: 10%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background: #ffe1e10d;
  ul {
    margin: 1rem;
    width: 60%;
    display: grid;
    grid-gap: 1rem;
    list-style-type: none;
    justify-content: flex-end;
    grid-template-columns: repeat(4, auto);
    li {
      cursor: pointer;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-family: 'Courier New', Courier, monospace;
      color: var(--text-color);
      transition: all 0.3s;
    }
    li:hover {
      background-color: var(--hover-bg-color);
      border-radius: 10px;
      text-decoration: underline;
    }
  }

  @media (max-width: 400px) {
    opacity: 0;
  }
}

// hamburger menu
.hamburger {
  width: 100%;
  z-index: 3;
  position: fixed;
  margin: 1rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  &:focus {
    & > .hamburger__container {
      box-shadow: 0 0 2px 2px #51a7e8;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 35px;
    height: 30px;
    margin: 0 2rem;
  }

  &__bars {
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: white;
    transition: transform 220ms ease-in-out;
    &:before,
    &:after {
      display: block;
      position: absolute;
      width: 35px;
      height: 2px;
      background-color: white;
      content: '';
    }
    &:before {
      top: -12px;
      transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
    }
    &:after {
      bottom: -12px;
      transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
    }
  }

  @media (min-width: 400px) {
    display: none;
  }
}

.hamburger--active {
  .hamburger__bars {
    transform: rotate(225deg);
    transition: transform 220ms 120ms ease-in-out;
    &:before {
      top: 0;
      transition: top 100ms ease-out;
    }
    &:after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
    }
  }
}

.hamburger > .list {
  display: none;
  opacity: 0;
}

.hamburger > .list--active {
  display: block;
  opacity: 1;
  width: 45%;
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style-type: none;
  padding: 0;
  right: 2rem;
  top: 2rem;
  background-color: #b1a2a2bd;
  border-radius: 3px;
  transition: all 1s;
  li {
    padding: 0.5rem 0;
    text-align: center;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 2px;
  }

  li:last-child {
    border: none;
    padding: 0.5rem 0 0.5rem;
  }
}

.hamburger,
.hamburger__container {
  &:focus {
    outline: none;
  }
}
