#projects {
  min-height: 100%;
  flex: 0 0 100%;
  background-image: linear-gradient(180deg, #1a0909, 0%, #222e33);
  display: flex;
  border-bottom: solid white;
  h1 {
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    margin: auto;
    font-size: 2rem;
  }
}
