.skills {
  font-family: 'Barlow Condensed', sans-serif;
  min-height: 100%;
  flex: 0 0 100%;
  background-image: linear-gradient(180deg, #1a0909, 0%, #222e33);
  border-bottom: solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .content {
    padding: 1rem;
    background-color: #d4d4d417;
    flex: 0 0 80%;
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    @media (min-width: 400px) {
      height: 75%;
    }
    .title {
      flex: 0 0 100%;
      color: white;
      margin: 0 0 1rem;
    }
    .icons {
      flex: 0 0 100%;
      height: 83%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      @media (min-width: 400px) {
        flex: 0 0 50%;
      }
      .icon {
        cursor: pointer;
        flex: 0 0 33%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        img {
          height: 50px;
          width: 50px;
        }
      }
      .icon:hover {
        background-color: #ffffff2e;
      }
      .icon--active {
        cursor: pointer;
        flex: 0 0 33%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        background-color: #ffffff2e;
        img {
          height: 50px;
          width: 50px;
        }
      }
    }
    .description {
      @media (max-width: 400px) {
        display: none;
      }
      flex: 0 0 50%;
      height: auto;
      background-color: #5d7976;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &__name {
        padding: 1rem;
        height: 10%;
        text-align: center;
        flex: 0 0 100%;
        color: white;
        font-size: 1.3rem;
        box-shadow: 0 2px;
      }
      &__text {
        padding: 1rem;
        height: 10%;
        text-align: center;
        flex: 0 0 100%;
        color: white;
        font-size: 1.1rem;
      }
    }
    .text {
      margin: 1.5rem 0;
      color: white;
      flex: 0 0 100%;
      text-align: right;
      @media (min-width: 400px) {
        display: none;
      }
    }
  }
}
